@import url('https://fonts.googleapis.com/css2?family=Black+Ops+One&family=Oxanium&display=swap');

* {
  box-sizing: border-box;
}

body {
  display: grid;
  grid: 
    'header' 75px
    'main' 1fr   
    /1fr;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;
}

#header {
  display: flex;
  font-size: 6vw;
  justify-content: center;
  align-items: center;
  grid-area: header;
  font-family: 'Black Ops One', cursive;
  padding-top: 10px;
}

#main {
  font-family: 'Oxanium', cursive;
  grid-area: main;
  display: grid;
  grid:
    'narrative narrative' 75px
    'p1        p2' 1fr
    /1fr       1fr;
  justify-items: center;
  align-items: center;
}

#narrative {
  font-size: 4vw;
  grid-area: narrative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

#p1 {
  grid-area: p1;
}

#p2 {
  grid-area: p2;
}

.board {
  display: grid;
  grid: repeat(10, 2.5vw) / repeat(10, 2.5vw);
  grid-auto-flow: column;
  gap: 5px;
}

.square {
  width: 2.5vw;
  height: 2.5vw;
  background-color: lightgray;
  border-radius: 5px;
  box-shadow: 2px 2px 2px black;
}

.hovered {
  background-color: #848484;
  transition: .4s;
}

.hoverable:hover {
  background-color: #848484;
  transition: .4s;
}

